@page "/launches"

<h3>Space X Launches</h3>

@if (_launches == null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tentative (y/n)</th>
        <th>Launch Date</th>
        <th>Mission Name</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var launch in _launches)
      {
        <tr>
          <td>@launch.Id</td>
          <td>@launch.IsTentative</td>
          <td>@launch.LaunchDateLocal</td>
          <td>@launch.MissionName</td>
        </tr>
      }
    </tbody>
  </table>
}
